/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
     @media (prefers-color-scheme: dark) {
      img {
        filter: brightness(.8) contrast(1.2);
      }
    }

    @media (prefers-reduced-motion: reduce) {
      html {
        scroll-behavior: auto;
      }
      body {
        transition: none;
      }
    }

    @media screen and (-ms-high-contrast: active) {
      button.btn {
        border: 2px solid currentcolor;
      }
    }

     @media only screen and (min-width: 35em) {
      /* Style adjustments for viewports that meet the condition */
    }

    @media print,
      (-webkit-min-device-pixel-ratio: 1.25),
      (min-resolution: 1.25dppx),
      (min-resolution: 120dpi) {
      /* Style adjustments for high resolution devices */
    }
