@import "./resets";
/* ==========================================================================
Author's custom styles
========================================================================== */

// Global Styles
  $primary-font: 'Montserrat', sans-serif;
  $accent-font: 'Aclonica', sans-serif;

  h1,
  button,
  nav {
    font-family:$accent-font;
  }

  h2,
  h3,
  h4,
  p {
    font-family: $primary-font;
  }


  ul li {
    list-style-type: none;
    padding: 1em;
  }

  // basic layout
  @mixin flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }

  @mixin listSetting {
    text-decoration: none;
    list-style-type: none;
    color:inherit;
  }

  body {
    height: 100%;
  }

  .container {
    width: 100%;
    min-height: 100%;
    margin: auto;
    border: lawngreen 7px solid;
    // ! change to animated (?) gradient

    * {
      text-align: center;
    }
  }

  //! universal selector inbound!
  .container > * {
    width: 100%;
  }

  .container,
  nav,
  .menu-nav,
  .wrapper,
  .projects-list,
  .project-list__item,
  .project-list__name,
  .about-info {
    @include flexCenter();
  }

  .wrapper {
    width:min(95%, 1180px);
    margin: auto;
  }

  header {
    .menu-btn {
      // position: absolute;
      // right: 1em;
      // top: 0.8em;
      // padding: 8px;
      border: 2px solid #fff;
      border-radius: 5px;
      font-size: 1em;
      background: transparent;
      color: #000;
      display: none;

      &:focus,
      &:hover {
        background: #fff;
        color: #000;
      }
    }

    .menu-nav {
      flex-direction: column;
    }
    .home {
      min-height: 90vh;
      display: flex;
      flex-flow: column;
      justify-content: center;
      width: 100%;
    }
    .home.wrapper {
      justify-content: flex-start;
    }

  }

  header .menu-nav {
    display: none;
  }

  header .menu-btn {
    display: block;
  }

  header .menu-nav.is-active {
    display: block;
  }

  .theme-toggle {
    border: none;
    // outline: none;
    // outline needs a value
    padding: 20px;
    // border-radius: 50%;
    cursor: pointer;
    background: inherit;
  }
  .theme-toggle i{
      font-size: 1.5rem;
  }

  .home-info h1 {
    text-align: left;
  }

  header i {
    // margin-bottom: 25px;
  }
  //  header

// project
i.devicon-sketch-line {
  font-weight: bolder;
}

.project-list__item {
  margin: 3em 2em;
}


.project-list__item-info {
  margin: 2em 0em;
  width: 100%;
  // border: blue solid 1px;
  flex-basis: 50%;
  padding: 2em;
  @include flexCenter();

  > * {
    margin: 1.5em 0em;
  }
}

.projects-list .react img,
.projects-list .unplugged img,
.projects-list .base-apparel img,
.projects-list .halloween img {
  width: 100%;
}

.projects-list .react img {
  aspect-ratio: 622/401;
}
.projects-list .unplugged img {
  aspect-ratio: 319/181;
}
.projects-list .base-apparel img {
  aspect-ratio: 128/69;
}
.projects-list .halloween img {
  aspect-ratio: 512/289;
}

.project-list__item-skills-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  * i {
     font-size: 3rem;
   }
}

.project-list__item-links a {
  display: inline-block;
  padding: 25px;
  margin: 10px;
  outline: 1px solid olive;
  @include listSetting ();

}

.project-list__item-links a:hover {
  color: peru;
  outline:dashed 1px black
}

// skills
.skills {
  // margin: 3em 2em;
}
.skills-list {
display: flex;
flex-flow: row wrap;
flex: 1;

  li {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;

    i {
      font-size: 3rem;
    }
  }
}

// about
.about {
  margin: 3em 2em;
}
.about-info {
  width: fit-content;
}

.about figure {
  max-width: 300px;
}

.about img {
  aspect-ratio: 1/1;
  width: 100%;
}

.about p {
  margin: 25px 0;
  text-align: left;
}

@media only screen and (min-width: 530px) {
  // header


  // projects
  .project-list__item-desc {
    max-width: 30ch;
    text-align: left;
  }

  //  skills
  .skills-list li {
    flex-basis: 25%;
  }
}

@media only screen and (min-width: 760px) {
  // header
  .nav {
    min-height: 10vh;
    align-self: flex-end;
    flex-direction: row;
  }

  header .menu-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }

  header #toggle {
    display: none;
  }


  // projects
  article.project-list__item:nth-child(1) > div:nth-child(1),
  article.project-list__item:nth-child(3) > div:nth-child(1){
    flex-direction: row;
  }

  article.project-list__item:nth-child(2) > div:nth-child(1),
  article.project-list__item:nth-child(4) > div:nth-child(1){
    flex-direction: row-reverse;
  }

 .projects-list .react img,
 .projects-list .unplugged img,
 .projects-list .base-apparel img,
 .projects-list .halloween img {
  max-width: 50%;
  flex-basis: 50%;
  }

  .project-list__item.react {
    margin-top: 0;
  }

  // about
  .about-info {
    flex-direction: row
  }
  .about figure {
    flex-basis: 33%;
    align-self: flex-start;
    margin: 0 2em;
  }

  .about-info__text {
    flex-basis: 66%;
    max-width: 60ch;
    margin: 0 2em;
    p:first-child {
      margin-top: 0;
    }
  }

}

// rest of imports
@import "./helperclass";
@import "./mediaqueries";
@import "./printstyles";
